.btn-info {
    border-style: none;
    line-height: inherit;
    list-style-type: inherit;
    appearance: none;
    padding: 8px 32px;
    border-radius: 64px;
    cursor: pointer;
    font-weight: 700;
    font-size: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    background-color: #DADADA;
}
.btn-info a {
    text-decoration: none;
    color: #4D4D4D;
}
.background-blue {
    background-color: #0073CE;
}
.text-color {
    color: whitesmoke;
}
.btn-info-flex {
    display: flex;
    justify-content: space-between;
}
.btn-info a:link {
    color: whitesmoke;
}
.btn-info a:visited {
    color: whitesmoke;
}
.btn-info a:hover {
    color: whitesmoke;
}
.btn-info a:active {
    color: whitesmoke;
}