:host > div {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    width: 100%;
}
.logo {
    padding: 24px 0px;
    max-width: 256px;
    max-height: 256px;
}
.custom-font {
    float: left;
    font-size: 110%;
    font-weight: bold;
    margin: 3px;
}
.app-name {
    font-size: xxx-large;
    min-height: 50px;
}

@media only screen and (max-width: 600px) {
    .app-name {
        font-size: xx-large;
    }
}