<ng-template #titleContainer>
    <span>Chi Siamo</span>
</ng-template>

<app-info-logo></app-info-logo>
<div class="team-list">
    <div class="people">
        <img src="assets/images/christian.jpg">
        <p>Christian</p>
        <p>carcione.christian@gmail.com</p>
    </div>
    <div class="people">
        <img src="assets/images/jessica.jpg">
        <p>Jessica</p>
        <p>jesssicasala@gmail.com</p>
    </div>
    <div class="people">
        <img src="assets/images/stefano.jpg">
        <p>Stefano</p>
        <p>stejolly88@gmail.com</p>
    </div>
</div>