<div class="root-banner" *ngIf="privacyPolicyDisplayed === null || privacyPolicyDisplayed == 'false'">
  <div class="banner text-color">
    <h1>Privacy Policy</h1>
    <p>Ultimo aggiornamento: 17 febbraio 2021</p>
    <p>La presente Informativa sulla privacy descrive le nostre politiche e procedure sulla raccolta, l'uso e la divulgazione delle tue informazioni quando utilizzi il Servizio e ti informa sui tuoi diritti alla privacy e su come la legge ti protegge.</p>
    <p>Utilizziamo i tuoi dati personali per fornire e migliorare il Servizio. Utilizzando il Servizio, accetti la raccolta e l'uso delle informazioni in conformità con la presente Informativa sulla privacy. La presente Informativa sulla privacy è stata creata con l'aiuto del <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Privacy Policy Generator</a>.</p>
    <div class="btn-info-flex">
      <button class="btn-info" routerLink="/privacy-policy" (click)="closePrivacyPolicy()">Scopri di più</button>
      <button class="btn-info background-blue text-color" (click)="closePrivacyPolicy()">Chiudi</button>
    </div>
  </div>
</div>
<app-shell>
  <span shell-title *ngIf="!isHandset">
    {{versionJson.appName}}
  </span>
  <span shell-actions></span>
  <span shell-global-actions></span>

  <span shell-content>
    <app-loading *ngIf="showLoadingComponent"></app-loading>
    <router-outlet></router-outlet>
  </span>
</app-shell>
