[shell-content] {
    height: 100%;
    overflow: hidden;
}
[shell-nav],mat-nav-list{
    height: 95%;
    display: flex;
    flex-direction: column;
}
.root-banner {
    display: block;
    position: absolute;
    z-index: 1000;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}
.banner {
    background-color: black;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 20px 10px 20px;
}
.banner a:link {
    color: whitesmoke;
}
.banner a:visited {
    color: whitesmoke;
}
.banner a:hover {
    color: whitesmoke;
}
.banner a:active {
    color: whitesmoke;
}