<mat-form-field class="margin-top" appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput class="form-control" [(ngModel)]="feedback.nome" />
</mat-form-field><mat-form-field appearance="outline">
    <mat-label>Messaggio di feedback</mat-label>
    <textarea matInput [(ngModel)]="feedback.messaggio" rows="10">
    </textarea>
</mat-form-field>
<star-rating class="margin-bottom" [starType]="'svg'" [rating]="0" (ratingChange)="updateRating($event)" size="large" speed="slow" ></star-rating>
<button class="margin-bottom" mat-raised-button color="primary" (click)="inviaFeedback()">Invia</button>
