<ng-template #titleContainer>
    <span>About</span>
</ng-template>
<img class="logo" src="assets/images/icon-original.png" alt="">
<p class="custom-font app-name">{{versionJson.appName}}</p>
<p class="custom-font">{{versionJson.displayVersionText}}</p>

<div class="flex-link-list">
    <a mat-raised-button class="link" color="primary" href="https://gitlab.com/projects-experimenta/caprezzo-digitale/-/raw/master/LICENSE" target="_blank">
        <img class="icon-link" src="assets/images/license_icon.png">
        Licenza Software
    </a>
    <a mat-raised-button class="link" color="primary" href="https://gitlab.com/projects-experimenta/caprezzo-digitale/-/releases" target="_blank">
        <img class="icon-link" src="assets/images/reload_refresh.png">
        Releases - Changelog
    </a>
    <a mat-raised-button class="link" color="primary" href="https://gitlab.com/projects-experimenta/caprezzo-digitale" target="_blank">
        <img class="icon-link" src="assets/images/gitlab.png">
        Progetto GitLab
    </a>
    <a mat-raised-button class="link" color="primary" href="https://github.com/ccarcione/caprezzo-digitale" target="_blank">
        <img class="icon-link" src="assets/images/github.png">
        Progetto GitHub
    </a>
</div>

<p class="custom-font" style="font-size: x-large;">Licenze di terze parti</p>
<div class="credits">
    <div *ngFor="let item of creditsList" class="credit-row">
        <span class="custom-font" >{{item[0]}}</span>
        <a href="{{item[1]}}" target="_blank">Licenza</a>
        -
        <a href="{{item[2]}}" target="_blank">Sito Web</a>
    </div>
</div>