*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
publish/

# Visual Studio 2015
.vs/

# Visual Studio Code
.vscode/

# Project folder
LogFiles/
PublicStaticFiles/
PublicGalleria/
temp/
BollettiniArpa/
mock_data/
appsettings.[Dd]evelopment.json
appsettings.docker-local.json
appsettings.[Pp]roduction.json
SerilogSelf.log