:host {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.masonry-style {
    width: 80vw;
    margin: auto;
    padding-left: 10px;
    padding-top: 10px;
}

.item {
    width: 30%;
}

img {
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.loading-more-images {
    margin: 0px;
    max-height: 150px;
    margin-bottom: 10px;
}

.more-image-contains-button {
    margin: 20px;
    display: flex;
}

.more-image-contains-button > * {
    margin: auto;
}

@media only screen and (max-width: 1025px) {
    .item {
        width: 40%;
    }
    
    .masonry-style {
        width: 85vw;
    }
}

@media only screen and (max-width: 801px) {
    .item {
        width: 40%;
    }
    
    .masonry-style {
        width: 75vw;
    }
}

@media only screen and (max-width: 600px) {
    .item {
        width: 100%;
        padding: 10px 0px;
    }

    .masonry-style {
        width: 85vw;
        padding: 0px;
    }
  }
