<ng-template #titleContainer>
  <span>Galleria</span>
</ng-template>
<div>
  <ngx-masonry id="galleria-masonryImages" class="masonry-style" [options]="masonryOptions" [ordered]="true" (itemsLoaded)="itemsLoaded()">
    <div ngxMasonryItem [prepend]="false" *ngFor="let image of masonryImages;index as idx" class="item">
      <img (load)="checkStopLoading()" [src]="image" (click)="showGallery(idx)">
    </div>
  </ngx-masonry>

  <app-loading *ngIf="isLoadingMoreImage" class="loading-more-images"></app-loading>
  <div class="more-image-contains-button">
    <button mat-raised-button *ngIf="pagination.hasNext && !isLoadingMoreImage" (click)="showMoreImages()">Mostra Altre Immagini</button>
    <h2 *ngIf="!pagination.hasNext && !isLoadingMoreImage">Non ci sono altre immagini</h2>
  </div>
</div>
