:host {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 10px;
    padding-top: 10px;
}

.loading-more-images {
    margin: 0px;
    max-height: 150px;
    margin-bottom: 10px;
}

.more-image-contains-button {
    margin: 20px;
    display: flex;
}

.more-image-contains-button > * {
    margin: auto;
}
