<p>Unione Montana Valgrande e del Lago di Mergozzo: https://www.um-valgrandelagomergozzo.it/</p>
<p>Unione Montana Valgrande e del Lago di Mergozzo	Via per Unchio n. 13 - 28814 Cambiasca (VB): www.um-valgrandelagomergozzo.it</p>
<br>
<br>
<br>
<br>
<p>Comune di Cambiasca: http://www.comune.cambiasca.vb.it/</p>
<p>Comune di Cambiasca	</p>
<p>Via Simonetta n. 24 - 28814 Cambiasca (VB): http://www.comune.cambiasca.vb.it/</p>
<p>
<br>
<br>
<br>
<p>Ufficio postale di Caprezzo</p>
<p>Via Vico n. 6 - Caprezzo </p>
<p>Tel. 0323 559167</p>
<p>Orario d'apertura:</p>
<p>da Lunedì e Mercoledì dalle ore 08.30 alle ore 14.00</p>
<p>sabato dalle ore 08.30 alle ore 13.00</p>
<p>Spedizioni fino alle ore 12.00</p>
<br>
<br>
<br>
<br>
<p>Ambulatorio</p>
<p>Dott. Modaffari Domenico a Caprezzo</p>
<p>Via Vico 8</p>
<p>28815 Caprezzo</p>
<p>Orari di apertura</p>
<p>Lunedi	chiuso</p>
<p>Martedi	chiuso</p>
<p>Mercoledi	10:30 - 11:30</p>
<p>Giovedi	chiuso</p>
<p>Venerdi	chiuso</p>
<p>Sabato	chiuso</p>
<p>Domenica	chiuso</p>