<p>Biblioteca: http://www.bibliotechevco.it/</p>
<p>Biblioteca Comunale di Caprezzo "Luisa Castelnuovo"</p>
<p>Via Vico, 4</p>
<p>28815 - Caprezzo</p>
<p>caprezzo@bibliotecheVCO.it</p>
<p>Martedi 16.00 - 18.30</p>
<p>Giovedì 16.00 - 18.30</p>
<p>Sabato: 10.00 - 11.00</p>
<p></p>
<p></p>
<p>con mappa</p>
<br>
<br>
<br>
<br>
<p>﻿﻿Pro Loco Sede﻿﻿</p>
<p>Via Vico n.8</p>
<p>28815 Caprezzo (VB)</p>
<p>Italy</p>
<p></p>
<p>numero di telefono</p>
<p>+39 3479714039</p>
<p>​</p>
<p>e-mail</p>
<p>proloco_caprezzo@virgilio.it</p>
<br>
<br>
<br>
<br>
<p>Il Circolo di Caprezzo</p>
<p>Via Marconi, 4, 28815 Caprezzo, Italia </p>
<p>+39 346 801 1471 </p>
<p>Sito web</p>
<p>E-mail</p>
<br>
<br>
<br>
<br>
<p>La Bottega di una volta a Caprezzo</p>
<p>Via Marconi, 4 4</p>
<p>28815 Caprezzo</p>